In [1]:
# Dependencies
import pandas as pd
import numpy as np

In [2]:
income_df = pd.read_excel('Resources/neighbourhood-data-2001-2011.xlsx')
income_df.head()

,Category,Topic,Attribute,City of Toronto,Agincourt North,Agincourt South-Malvern West,Alderwood,Annex,Banbury-Don Mills,Bathurst Manor,...,Willowdale West,Willowridge-Martingrove-Richview,Woburn,Woodbine Corridor,Woodbine-Lumsden,Wychwood,Yonge-Eglinton,Yonge-St.Clair,York University Heights,Yorkdale-Glen Park
0,Population,Population,"Population, 2011",2615060.0,30279.0,21988.0,11904.0,29177.0,26918.0,15434.0,...,15004.0,21343.0,53350.0,11703.0,7826.0,13986.0,10578.0,11652.0,27713.0,14687.0
1,Population,Population,"Population, 2006",2503281.0,30156.0,21562.0,11656.0,27482.0,25439.0,14945.0,...,12517.0,20907.0,52461.0,11550.0,8051.0,14194.0,10497.0,11235.0,26140.0,14830.0
2,Population,Population,"Population percentage change, 2006 to 2011",4.5,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Population,Population,Population density per square kilometre,4149.5,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Population,Dwellings,Total private dwellings,1107851.0,9341.0,7861.0,4840.0,17172.0,12118.0,6320.0,...,6931.0,8336.0,19181.0,5391.0,3645.0,6002.0,5550.0,7128.0,11722.0,5444.0

In [3]:
income_df = income_df.loc[(income_df["Category"] == 'Income') & (income_df["Topic"]  == 'Income of households')
& ((income_df["Attribute"] == 'Median household total income $')|(income_df["Attribute"]  == 'Average household total income $'))]
income_df.head()

,Category,Topic,Attribute,City of Toronto,Agincourt North,Agincourt South-Malvern West,Alderwood,Annex,Banbury-Don Mills,Bathurst Manor,...,Willowdale West,Willowridge-Martingrove-Richview,Woburn,Woodbine Corridor,Woodbine-Lumsden,Wychwood,Yonge-Eglinton,Yonge-St.Clair,York University Heights,Yorkdale-Glen Park
755,Income,Income of households,Median household total income $,58381.0,60162.0,59013.0,71585.0,57825.0,70039.0,56563.0,...,60537.0,63701.0,52018.0,72937.0,65259.0,55941.0,72977.0,71728.0,45534.0,54093.0
756,Income,Income of households,Average household total income $,87038.0,73512.0,73156.0,85206.0,114333.0,115944.0,76823.0,...,82203.0,81035.0,63651.0,88615.0,75872.0,84199.0,126230.0,153993.0,55531.0,72429.0

In [4]:
# Did transpose of all cities columns to 1 single column

transposed_df =income_df.loc[:,'Agincourt North':'Yorkdale-Glen Park']
cities_data = transposed_df.transpose().reset_index()
cities_data.columns = ["Cities","Median_Income","Average_Income"]
print(cities_data)

                           Cities  Median_Income  Average_Income
0                 Agincourt North        60162.0         73512.0
1    Agincourt South-Malvern West        59013.0         73156.0
2                       Alderwood        71585.0         85206.0
3                           Annex        57825.0        114333.0
4               Banbury-Don Mills        70039.0        115944.0
..                            ...            ...             ...
135                      Wychwood        55941.0         84199.0
136                Yonge-Eglinton        72977.0        126230.0
137                Yonge-St.Clair        71728.0        153993.0
138       York University Heights        45534.0         55531.0
139            Yorkdale-Glen Park        54093.0         72429.0

[140 rows x 3 columns]