In [2]:
import os
import pandas as pd

In [3]:
crime_csv = "Resources/Neighbourhood_Crime_Rates.csv"
crime_df = pd.read_csv(crime_csv)

In [6]:
crime_df.head()

,Neighbourhood,Hood_ID,Assault_Rate_2019,AutoTheft_Rate_2019,BreakandEnter_Rate_2019,Homicide_Rate_2019,Robbery_Rate_2019,TheftOver_Rate_2019
0,South Parkdale,85,1148.8,91.5,407.3,4.6,151.0,100.7
1,South Riverdale,70,936.3,143.5,477.1,0.0,125.6,75.3
2,St.Andrew-Windfields,40,325.6,196.5,466.0,0.0,67.4,33.7
3,Taylor-Massey,61,777.9,76.5,401.7,6.4,82.9,19.1
4,Humber Summit,21,950.4,1087.3,459.1,24.2,225.5,177.2

In [5]:
crime_df

,Neighbourhood,Hood_ID,Assault_Rate_2019,AutoTheft_Rate_2019,BreakandEnter_Rate_2019,Homicide_Rate_2019,Robbery_Rate_2019,TheftOver_Rate_2019
0,South Parkdale,85,1148.8,91.5,407.3,4.6,151.0,100.7
1,South Riverdale,70,936.3,143.5,477.1,0.0,125.6,75.3
2,St.Andrew-Windfields,40,325.6,196.5,466.0,0.0,67.4,33.7
3,Taylor-Massey,61,777.9,76.5,401.7,6.4,82.9,19.1
4,Humber Summit,21,950.4,1087.3,459.1,24.2,225.5,177.2
...,...,...,...,...,...,...,...,...
135,Humewood-Cedarvale,106,320.2,111.4,181.0,0.0,69.6,27.8
136,Islington-City Centre West,14,504.9,391.2,282.0,2.3,79.6,84.2
137,Danforth,66,786.3,72.4,413.8,0.0,186.2,41.4
138,Rustic,28,593.5,372.2,140.8,10.1,30.2,10.1
139,Scarborough Village,139,1046.4,107.6,239.2,0.0,167.4,12.0

In [6]:
crime_df["Total Averate Rate 2019"] = round((crime_df["Assault_Rate_2019"] + crime_df["AutoTheft_Rate_2019"] + crime_df["BreakandEnter_Rate_2019"] +
                                       crime_df["Homicide_Rate_2019"] + crime_df["Robbery_Rate_2019"] + crime_df["TheftOver_Rate_2019"]) / 6, 2)

In [7]:
crime_df

,Neighbourhood,Hood_ID,Assault_Rate_2019,AutoTheft_Rate_2019,BreakandEnter_Rate_2019,Homicide_Rate_2019,Robbery_Rate_2019,TheftOver_Rate_2019,Total Averate Rate 2019
0,South Parkdale,85,1148.8,91.5,407.3,4.6,151.0,100.7,317.32
1,South Riverdale,70,936.3,143.5,477.1,0.0,125.6,75.3,292.97
2,St.Andrew-Windfields,40,325.6,196.5,466.0,0.0,67.4,33.7,181.53
3,Taylor-Massey,61,777.9,76.5,401.7,6.4,82.9,19.1,227.42
4,Humber Summit,21,950.4,1087.3,459.1,24.2,225.5,177.2,487.28
...,...,...,...,...,...,...,...,...,...
135,Humewood-Cedarvale,106,320.2,111.4,181.0,0.0,69.6,27.8,118.33
136,Islington-City Centre West,14,504.9,391.2,282.0,2.3,79.6,84.2,224.03
137,Danforth,66,786.3,72.4,413.8,0.0,186.2,41.4,250.02
138,Rustic,28,593.5,372.2,140.8,10.1,30.2,10.1,192.82
139,Scarborough Village,139,1046.4,107.6,239.2,0.0,167.4,12.0,262.10

In [8]:
crime_df = crime_df.rename(columns={"Assault_Rate_2019" : "Assault Rate",
                                    "AutoTheft_Rate_2019" : "Auto Theft Rate",
                                    "BreakandEnter_Rate_2019" : "Break&Enter Rate",
                                    "Homicide_Rate_2019" :"Homicide Rate",
                                    "Robbery_Rate_2019" : "Robberey Rate",
                                    "TheftOver_Rate_2019" : "Theft Over Rate",
                                    "Total Averate Rate 2019" : "Total Average Rate",
                                    "Neighbourhood" : "Cities"})

In [9]:
# Set index as "Cities"
crime_df = crime_df.set_index('Cities')
crime_df

,Hood_ID,Assault Rate,Auto Theft Rate,Break&Enter Rate,Homicide Rate,Robberey Rate,Theft Over Rate,Total Average Rate
Cities,,,,,,,,
South Parkdale,85,1148.8,91.5,407.3,4.6,151.0,100.7,317.32
South Riverdale,70,936.3,143.5,477.1,0.0,125.6,75.3,292.97
St.Andrew-Windfields,40,325.6,196.5,466.0,0.0,67.4,33.7,181.53
Taylor-Massey,61,777.9,76.5,401.7,6.4,82.9,19.1,227.42
Humber Summit,21,950.4,1087.3,459.1,24.2,225.5,177.2,487.28
...,...,...,...,...,...,...,...,...
Humewood-Cedarvale,106,320.2,111.4,181.0,0.0,69.6,27.8,118.33
Islington-City Centre West,14,504.9,391.2,282.0,2.3,79.6,84.2,224.03
Danforth,66,786.3,72.4,413.8,0.0,186.2,41.4,250.02
Rustic,28,593.5,372.2,140.8,10.1,30.2,10.1,192.82
Scarborough Village,139,1046.4,107.6,239.2,0.0,167.4,12.0,262.10