In [1]:
import os
import pandas as pd

In [2]:
crime_csv = "Neighbourhood_Crime_Rates.csv"
crime_df = pd.read_csv(crime_csv)

In [3]:
crime_df.head()

,_id,OBJECTID,Neighbourhood,Hood_ID,Population,Assault_2014,Assault_2015,Assault_2016,Assault_2017,Assault_2018,...,TheftOver_2016,TheftOver_2017,TheftOver_2018,TheftOver_2019,TheftOver_AVG,TheftOver_CHG,TheftOver_Rate_2019,Shape__Area,Shape__Length,geometry
0,1,16,South Parkdale,85,21849,202,226,231,229,220,...,9,10,9,22,10.0,1.44,100.7,2.286974e+06,10802.83216,"{u'type': u'Polygon', u'coordinates': (((-79.4..."
1,2,17,South Riverdale,70,27876,215,207,236,243,304,...,22,27,24,21,21.3,-0.13,75.3,1.096457e+07,43080.72470,"{u'type': u'Polygon', u'coordinates': (((-79.3..."
2,3,18,St.Andrew-Windfields,40,17812,53,41,48,45,55,...,8,7,6,6,8.5,0.00,33.7,7.299580e+06,13025.99746,"{u'type': u'Polygon', u'coordinates': (((-79.3..."
3,4,19,Taylor-Massey,61,15683,127,92,97,107,123,...,5,2,4,3,3.5,-0.25,19.1,1.062970e+06,5940.70005,"{u'type': u'Polygon', u'coordinates': (((-79.2..."
4,5,20,Humber Summit,21,12416,76,89,118,116,109,...,18,18,15,22,17.3,0.47,177.2,7.966905e+06,12608.57312,"{u'type': u'Polygon', u'coordinates': (((-79.5..."

In [4]:
crime_df = crime_df.loc[:,["Neighbourhood", "Hood_ID", "Assault_Rate_2019", "AutoTheft_Rate_2019", "BreakandEnter_Rate_2019", "Homicide_Rate_2019", "Robbery_Rate_2019", "TheftOver_Rate_2019"]]

In [5]:
crime_df

,Neighbourhood,Hood_ID,Assault_Rate_2019,AutoTheft_Rate_2019,BreakandEnter_Rate_2019,Homicide_Rate_2019,Robbery_Rate_2019,TheftOver_Rate_2019
0,South Parkdale,85,1148.8,91.5,407.3,4.6,151.0,100.7
1,South Riverdale,70,936.3,143.5,477.1,0.0,125.6,75.3
2,St.Andrew-Windfields,40,325.6,196.5,466.0,0.0,67.4,33.7
3,Taylor-Massey,61,777.9,76.5,401.7,6.4,82.9,19.1
4,Humber Summit,21,950.4,1087.3,459.1,24.2,225.5,177.2
...,...,...,...,...,...,...,...,...
135,Humewood-Cedarvale,106,320.2,111.4,181.0,0.0,69.6,27.8
136,Islington-City Centre West,14,504.9,391.2,282.0,2.3,79.6,84.2
137,Danforth,66,786.3,72.4,413.8,0.0,186.2,41.4
138,Rustic,28,593.5,372.2,140.8,10.1,30.2,10.1
139,Scarborough Village,139,1046.4,107.6,239.2,0.0,167.4,12.0

In [6]:
crime_df["Total Averate Rate 2019"] = round((crime_df["Assault_Rate_2019"] + crime_df["AutoTheft_Rate_2019"] + crime_df["BreakandEnter_Rate_2019"] +
                                       crime_df["Homicide_Rate_2019"] + crime_df["Robbery_Rate_2019"] + crime_df["TheftOver_Rate_2019"]) / 6, 2)

In [7]:
crime_df

,Neighbourhood,Hood_ID,Assault_Rate_2019,AutoTheft_Rate_2019,BreakandEnter_Rate_2019,Homicide_Rate_2019,Robbery_Rate_2019,TheftOver_Rate_2019,Total Averate Rate 2019
0,South Parkdale,85,1148.8,91.5,407.3,4.6,151.0,100.7,317.32
1,South Riverdale,70,936.3,143.5,477.1,0.0,125.6,75.3,292.97
2,St.Andrew-Windfields,40,325.6,196.5,466.0,0.0,67.4,33.7,181.53
3,Taylor-Massey,61,777.9,76.5,401.7,6.4,82.9,19.1,227.42
4,Humber Summit,21,950.4,1087.3,459.1,24.2,225.5,177.2,487.28
...,...,...,...,...,...,...,...,...,...
135,Humewood-Cedarvale,106,320.2,111.4,181.0,0.0,69.6,27.8,118.33
136,Islington-City Centre West,14,504.9,391.2,282.0,2.3,79.6,84.2,224.03
137,Danforth,66,786.3,72.4,413.8,0.0,186.2,41.4,250.02
138,Rustic,28,593.5,372.2,140.8,10.1,30.2,10.1,192.82
139,Scarborough Village,139,1046.4,107.6,239.2,0.0,167.4,12.0,262.10

In [8]:
crime_df = crime_df.rename(columns={"Assault_Rate_2019" : "Assault Rate",
                                    "AutoTheft_Rate_2019" : "Auto Theft Rate",
                                    "BreakandEnter_Rate_2019" : "Break&Enter Rate",
                                    "Homicide_Rate_2019" :"Homicide Rate",
                                    "Robbery_Rate_2019" : "Robberey Rate",
                                    "TheftOver_Rate_2019" : "Theft Over Rate",
                                    "Total Averate Rate 2019" : "Total Average Rate"})

In [9]:
crime_df

,Neighbourhood,Hood_ID,Assault Rate,Auto Theft Rate,Break&Enter Rate,Homicide Rate,Robberey Rate,Theft Over Rate,Total Average Rate
0,South Parkdale,85,1148.8,91.5,407.3,4.6,151.0,100.7,317.32
1,South Riverdale,70,936.3,143.5,477.1,0.0,125.6,75.3,292.97
2,St.Andrew-Windfields,40,325.6,196.5,466.0,0.0,67.4,33.7,181.53
3,Taylor-Massey,61,777.9,76.5,401.7,6.4,82.9,19.1,227.42
4,Humber Summit,21,950.4,1087.3,459.1,24.2,225.5,177.2,487.28
...,...,...,...,...,...,...,...,...,...
135,Humewood-Cedarvale,106,320.2,111.4,181.0,0.0,69.6,27.8,118.33
136,Islington-City Centre West,14,504.9,391.2,282.0,2.3,79.6,84.2,224.03
137,Danforth,66,786.3,72.4,413.8,0.0,186.2,41.4,250.02
138,Rustic,28,593.5,372.2,140.8,10.1,30.2,10.1,192.82
139,Scarborough Village,139,1046.4,107.6,239.2,0.0,167.4,12.0,262.10

In [10]:
crime_df = crime_df.set_index('Neighbourhood')

In [11]:
crime_df

,Hood_ID,Assault Rate,Auto Theft Rate,Break&Enter Rate,Homicide Rate,Robberey Rate,Theft Over Rate,Total Average Rate
Neighbourhood,,,,,,,,
South Parkdale,85,1148.8,91.5,407.3,4.6,151.0,100.7,317.32
South Riverdale,70,936.3,143.5,477.1,0.0,125.6,75.3,292.97
St.Andrew-Windfields,40,325.6,196.5,466.0,0.0,67.4,33.7,181.53
Taylor-Massey,61,777.9,76.5,401.7,6.4,82.9,19.1,227.42
Humber Summit,21,950.4,1087.3,459.1,24.2,225.5,177.2,487.28
...,...,...,...,...,...,...,...,...
Humewood-Cedarvale,106,320.2,111.4,181.0,0.0,69.6,27.8,118.33
Islington-City Centre West,14,504.9,391.2,282.0,2.3,79.6,84.2,224.03
Danforth,66,786.3,72.4,413.8,0.0,186.2,41.4,250.02
Rustic,28,593.5,372.2,140.8,10.1,30.2,10.1,192.82
Scarborough Village,139,1046.4,107.6,239.2,0.0,167.4,12.0,262.10

In [13]:
income_df = pd.read_excel('Resources/neighbourhood-income-data-2011.xlsx')
income_df.head()

FileNotFoundError: [Errno 2] No such file or directory: 'Resources/neighbourhood-income-data-2011.xlsx'

In [ ]:
income_df = income_df.loc[(income_df["Category"] == 'Income') & (income_df["Topic"]  == 'Income of households')
& ((income_df["Attribute"] == 'Median household total income $')|(income_df["Attribute"]  == 'Average household total income $'))]
income_df.head()